body {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 100%;
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
}
section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}
/* Header */
header {
    display: flex;
    align-items: center;
    max-width: 1440px;
}
nav {
    display: flex;
    flex: 2;
    width: auto;
    justify-content: flex-end;
}
p {
    font-size: 17px;
    font-family:'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black; 
}
#logo {
    display: flex;
    grid-area: logo;
    flex: 1;
    justify-content: flex-start;
    align-items: baseline;
}
#logo img {
    width: 100px;
    height: 45px;
}
#option {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#signup {
    display: flex;
    grid-area: signup;
    flex-direction: row;  
    font-size: 20px; 
    align-items: center;
    color: #0065FC;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0px;
    padding: 0;
}
nav li {
    flex: 1;
    padding: 30px; 
    border-top:transparent 3px solid ;
    text-align: center;
}
nav li:hover , nav .active{
    border-top:#0065FC 3px solid ;
}
a:visited {
    color: black;
}
.active a, .signup a {
    color :#0065FC;
}
/*description*/
h1 {
    font-size: 32px;   
}
#description h1 {
    margin-bottom: 8px;
}
#description p {
    margin-top: 0px;
    margin-bottom: 10px;
}
a:hover {
    color: black;
}

/*filter*/
#filterhead {
    display: flex;
    flex-direction: column;   
}
form {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    max-width: 600px;
    font-size: 17px;
}
.searchloc {
    border-style:solid;
    border-color:#F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    align-items: center;
    padding: 0 15px;
    display: flex;
}
#search {
    flex: 16;
}
input {
    padding: 18px 25px;
    width: 100%;
    border-style: solid ;
    border-color: #F2F2F2;
    border-right-color: transparent;
    font-weight: bold;
    font-size: 17px;
}
button {
    display: flex;
    background-color:  #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border-style: none;
    padding: 0 20px;
    font-weight: bold;
    align-items: center;
    font-size: 17px;
}
button a, button a:visited {
    color: white;
}
.iconsearch {
    display: none;
}
#search input {
    font-family: 'Raleway';
}
#filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    margin-right: 30px;
}
#filters ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    align-items: center;
    font-size: 17px;    
}
#filters li {
    display: flex;
    justify-content: space-around;    
    transition: transform .2s;
}
li i.fas {
    justify-content: center;
    background-color: #DEEBFF ;  
    border-radius: 50%;
    border-width: 1px;
    color:#0065FC;
    border-style: none;
    padding: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-left: -4px;
    margin-top: -2px;
    margin-bottom: -2px;
}
li a {
    text-align: center;
    padding-right: 10px;
    font-weight: 700;
}
#filters li {
    display: flex;
    border-style: solid;
    border-right-color: #d4d4d4 ;
    border-top-color:#d4d4d4 ;
    border-bottom-color: #d4d4d4;
    border-left-color:transparent;
    border-radius: 35px;
    align-items: center;
}
#filters li:hover {
    background-color:  #f6f8fa;
    transform:scale(1.025,1.025);
}
#info {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:left;
}
#info i.fas {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d4 ;
    border-radius: 50%;
    padding: 11px;
    width: 11px;
    height: 11px;
    line-height: 11px;
    justify-content: center;
    color:#0065FC ;
}
#info p {
    margin-left:18px ;
}
/*hotel*/
.star {
    display: flex;
    width: 100%;
    color:#0065FC ;
    align-items: center;
}
.star .stargrey {
    color:#dbd8d8;
}
#hotel {
    display: flex;
    gap: 30px;  
}
#hotel .morelist {
    display: flex;
    width: 100%;
    padding-top: 20px;
    font-weight: bold;
}
#liste_hotel {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color:#F2F2F2;
    border-radius: 30px;
    padding: 30px;
}
#hotelmarseille {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;  
    border-radius: 30px;
    align-items: center;
    margin: 10px 0;
}
#hotelmarseille .hotel {
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#hotelmarseille .hotel img {
    display: flex;
    flex: 2;
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 50% 50%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.detail_hotel {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 5px;
    flex-direction: column;
    align-items: baseline;   
}
.detail_hotel p {
    margin: 2px;
}
#cannebière:hover {
    transform:scale(1.025,1.025);
}
#port:hover {
    transform:scale(1.025,1.025);
}
#mouettes:hover {
    transform:scale(1.025,1.025);
}
#la_mer {
    order: 2;    
}
#la_mer:hover {
    transform:scale(1.025,1.025);
}
#panier {
    order: 4;    
}
#panier:hover {
    transform:scale(1.025,1.025);
}
#amina {
    order: 6; 
}
#amina:hover {
    transform:scale(1.025,1.025);
}
/*liste populaire*/
#liste_populaire {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 30px;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
#popmarseille {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;  
    border-radius: 30px;
}
#popmarseille .pophotel {
    display: flex;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    height: 130px;
    align-content: center; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196); 
}
#popmarseille .pophotel img {
    display: flex;
    width: 140px ;    
    margin: 0px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}
#popmarseille .hotel_description {
    display: flex;   
    padding: 5px 7px;
    flex-direction: column;
    align-items: baseline;  
}
#popmarseille a {
    display: flex;
    width: 100%;
}
.hotel_description p {
    margin: 2px;
}
.space {
    flex: 6;
}
#title_liste {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#chart {
    display: flex;
    font-size: 25px;
}
.starpop {
    display: flex;
    flex: 2;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0px;
    color:#0065FC ;
}
.starpop .stargrey {
    color: #dbd8d8;
}
#soleil:hover {
    transform:scale(1.025,1.025)
}  

#chambre_dhotes:hover {
    transform:scale(1.025,1.025)
}  

#bleu_blanc:hover {
    transform:scale(1.025,1.025)
}  
/*activites*/
#activités {
    display: flex;
    flex-direction: column;
    gap: 40px;  
    align-items: baseline;
    border-radius: 30px;
 
}
#activités .titre {
    margin: 0px;
}
#activités_marseille {
    display: grid;
    grid-template-areas: "vieux_port pomègues calanques garde" "vieux_port frioul calanques longchamp";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px; 
    columns: 4;
}
#activités_marseille h3 {
    padding: 15px 20px;
}

#vieux_port {
    grid-area: vieux_port;
    display: flex;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#vieux_port img {
    width: 100%; 
    height: 500px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#vieux_port:hover {
    transform:scale(1.025,1.025)
} 
#pomègues {
    grid-area: pomègues ;
    display: flex;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;   
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#pomègues img {
    width: 100%;
    height: 265px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#pomègues:hover {
    transform:scale(1.025,1.025)
}
#frioul {
    grid-area: frioul;
    display: flex;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;    
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#frioul img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#frioul:hover {
    transform:scale(1.025,1.025)
}
#calanques {
    grid-area: calanques;
    display: flex;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#calanques img {
    width: 100%; 
    height: 500px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#calanques:hover {
    transform:scale(1.025,1.025)
}
#garde {
    grid-area:garde ;
    display: flex;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#garde img {
    width: 100%;
    height: 265px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#garde:hover {
    transform:scale(1.025,1.025)
}
#longchamp {
    display: flex;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#longchamp img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#longchamp:hover {
    transform:scale(1.025,1.025)
}
/*footer*/
footer {
    background-color:#F2F2F2 ;
    display: flex;
    margin: 50px 0 0 0;
    
    padding: 35px 0px 35px 35px;
    justify-content: space-between;
}
footer .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
footer li, h2 {
    margin: 12px;
}
@media screen and (max-width: 1439px) {

    #liste_hotel {
        order: 2;
    }
    #liste_populaire {
        order: 1;
    }
    #popmarseille {
        display: flex;
    }
    #hotel {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
   #activités {
       display: flex;
       flex-direction: column;
       align-items: stretch;
   }
}
@media screen and (max-width: 599px) {
    body {
        font-family: 'Raleway', sans-serif;
        display: flex;
        justify-content: center;
        align-items: stretch;   
        width: 100vmin;   
    }
    main {
        width: 100%;
    }
    section {
        gap: 0;
    }
    #description {
        padding: 20px;
    }
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
    h3 {
        font-size: 1em;
    }
    header {
        display: grid;        
        grid-template-areas: "logo . signup" "nav nav nav";
        grid-template-columns: auto 1fr auto;   
        grid-template-rows: 1fr 1fr;
    }
    #logo {
        padding-left: 20px;
    }
    #signup {
        padding-right: 20px;
    }
    nav {
        grid-area: nav;
    }
    nav ul {
        flex: 1;
        border-bottom: solid 3px #d4d4d4;
    }
    nav li:hover , nav .active{
        border-bottom:#0065FC 3px solid ;
        border-top: none;
        margin-bottom: -6px;
    }

    #form {
        display: inline-flex;
        flex-direction: row;
        
        padding: 0 20px 0 20px;    
    }
    #search {
        flex: 16;        
    }
    #info {
        padding: 0 20px 0 20px;
    }
    .searchloc , input, button, button a {
        display: flex; 
        flex: 1;
        max-height:100px;
        padding: 15px;     
    }
    button {
        border-radius: 15px 15px 15px 15px;
    }
    .textsearch {
        display: none;
    }
    .iconsearch {
        display: flex;
    }
    #filterhead {
        display: flex;
        padding: 0;
    }
    #filters ul {
        display: flex;
        flex-flow: wrap;
        margin-left: -8px;
        padding: 17px;
    }
    #filters h2 {
        margin: 20px 0 0 20px;
    }
    #filters li i.fas {
        width: 10px;
        height: 10px;
        padding: 17px;
    }
    #form {
    
    }
    ul {
        padding: 20px;
        margin: 0;
    }
    .menupage {
        padding: 0;
        gap:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #titre h2 {
        margin: 0;
    }
    #liste_hotel {
        background-color: #ffffff;
        padding: 20px;    
    }
    #hotel .morelist {
        padding: 0;
    }
    #liste_populaire {
        border-radius: 0;
        padding:20px ;
    }
    #popmarseille {
        grid-gap: 12px;
    }
    .space {
        margin: 15px;
    }
    #hotelmarseille .hotel {
        padding: 5px;
    }
    #hotelmarseille {
        grid-gap: 12px;
    }
    #popmarseille .pophotel {
        padding: 5px;
    }
    #popmarseille .pophotel img {
        display: flex;
        width: 110px ;       
        margin: 0px;
        object-fit: cover;
        object-position: 50% 30%;
        justify-content: center;
        align-items: center;
        border-radius: 20px 0px 0px 20px;
    }
    #popmarseille .hotel_description {
        padding: 5px 18px 5px 12px;
    }
    #activités {
        display: flex;
        gap: 0;
        width: 100%;
        align-items: stretch;

    }
    #activités_marseille {
        display: flex;
        flex-direction: column;
        grid-gap: 30px;  
        border-radius: 30px;
        align-items: stretch;
        justify-content: stretch;
        padding: 20px;    
    }
    #activités_marseille .activité {
        
    }
    #activités_marseille img {
        height: 150px;
    }
    footer {
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: space-between;
        
    }
}