
body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin:auto;
    max-width: 1440px;
    font-family: 'Raleway', sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    max-width: 1440px;
}
nav {
    display: flex;
    flex: 2;
    width: auto;
    justify-content: flex-end;
}
p {
    font-size: 17px;
    font-family:'Raleway', sans-serif;
}
a {
    text-decoration: none;
}
#logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: baseline;
}
#logo img {
    width: 100px;
    height: 45px;
}
#option {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#signup {
    display: flex;
    flex-direction: row;  
    font-size: 20px; 
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}
nav li {
    margin-right: 50px;
}
/*description*/
h1 {
    font-size: 32px;
    
}
#description h1 {
    margin-bottom: 8px;
}
#description p {
    margin-top: 0px;
    margin-bottom: 10px;
}
/*filter*/
#filterhead {
    display: flex;
    flex-direction: column;   
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
}
.searchloc {
    border-style:solid;
    border-color:#F2F2F2;
    background-color: #F2F2F2;
    border-radius: 7px 0px 0px 7px;
    justify-content: center;
    padding: 12px;   
}
input {
    padding: 12.5px;
    width: 270px;
    border-style: solid ;
    border-color: #F2F2F2;
    border-right-color: none;
}
button {
    display: flex;
    background-color:  #0065FC;
    border-radius: 0px 7px 7px 0px;
    color: white;
    border-style: none;
    padding: 14.5px;
}
#filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    margin-right: 30px;
}
#filters ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 17px;    
}
#filters li {
    display: flex;
    justify-content: space-around;    
    transition: transform .2s;
}
li i.fas {
    justify-content: center;
    background-color: #DEEBFF ;  
    border-radius: 50%;
    border-width: 1px;
    color:#0065FC;
    border-style: none;
    padding: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-left: -4px;
    margin-top: -2px;
    margin-bottom: -2px;
}
#filters ul {
    font-size: 10px bold;
}
li a {
    text-align: center;
    padding-right: 20px;
    font-weight: 700;
}
#filters li {
    display: flex;
    border-style: solid;
    border-right-color: #d4d4d4 ;
    border-top-color:#d4d4d4 ;
    border-bottom-color: #d4d4d4;
    border-left-color:transparent;
    border-radius: 35px;
    align-items: center;
}
#filters li:hover {
    background-color:  #f6f8fa;
    transform:scale(1.025,1.025);
}
#info {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:left;
}
#info i.fas {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #d4d4d4 ;
    border-radius: 50%;
    padding: 11px;
    width: 11px;
    height: 11px;
    line-height: 11px;
    justify-content: center;
    color:#0065FC ;
}
#info p {
    margin-left:18px ;
}
/*hotel*/
#star {
    display: flex;
    color:#0065FC ;
    align-items: center;
}
#stargrey {
    color:#dbd8d8;
}
#hotel {
    display: flex;
    gap: 30px;  
}
#liste_hotel {
    display: flex;
    flex-direction: row;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#F2F2F2;
    border-radius: 30px;
    padding: 30px;
}
#hotelmarseille {
    display: grid;
    grid-template-rows: 265px 265px ;
    grid-template-columns: 210px 210px 210px;
    grid-gap: 40px;  
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
}
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#detail_hotel {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    padding-left: 7px;
}
#cannebière {
    order: 1;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 265px;
    height: 210px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#cannebière img {
    display: flex;
    flex: 2;
    width: 265px;
    height: 140px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
#cannebière:hover {
    transform:scale(1.025,1.025);
}
#port {
    order: 3;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 265px;
    height: 210px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#port img {
    display: flex;
    flex: 2;
    width: 265px;
    height: 140px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
#port:hover {
    transform:scale(1.025,1.025);
}
#mouettes {
    order: 5;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 265px;
    height: 210px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#mouettes img {
    display: flex;
    flex: 2;
    width: 265px;
    height: 140px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
#mouettes h3, p {
    text-align: left;
    padding: 0px ;
    margin: 2px;
}
#mouettes:hover {
    transform:scale(1.025,1.025);
}
#la_mer {
    order: 2;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 265px;
    height: 210px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);      
}
#la_mer img {
    display: flex;
    flex: 2;
    width: 265px;
    height: 140px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
#la_mer:hover {
    transform:scale(1.025,1.025);
}
#panier {
    order: 4;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 265px;
    height: 210px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);      
}
#panier img {
    display: flex;
    flex: 2;
    width: 265px;
    height: 140px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
#panier:hover {
    transform:scale(1.025,1.025);
}
#amina {
    order: 6;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 265px;
    height: 210px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#amina img {
    display: flex;
    flex: 2;
    width: 265px;
    height: 140px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
#amina:hover {
    transform:scale(1.025,1.025);
}
/*liste populaire*/
#liste_populaire {
    display: flex;
    flex: 1;
    gap: 30px;
    flex-direction: row;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px;
    padding: 30px;
}
#title_liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}
#chart {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 11px;
    height: 11px;
}
#hotel_description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-right: 30px;
}
#space {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0px;
    margin: 30px;
}
#starpop {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0px;
}
#soleil {
    display: flex;
    flex-wrap: wrap;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 450px;
    height: 150px;
    justify-content:baseline;
    align-content: center; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#soleil img {
    display: flex;
    width: 170px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}
#soleil:hover {
    transform:scale(1.025,1.025)
}    
#chambre_dhotes {
    display: flex;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 450px;
    height: 150px;
    justify-content: baseline;
    align-items: center; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);      
}
#chambre_dhotes img {
    display: flex;
    width: 170px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}
#chambre_dhotes:hover {
    transform:scale(1.025,1.025)
}  
#bleu_blanc {
    display: flex;
    background-color:#ffffff ;
    border-radius: 25px;
    padding: 7px;
    width: 450px;
    height: 150px;
    overflow: hidden;
    justify-content: baseline;
    align-items: center; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);   
}
#bleu_blanc img {
    display: flex;
    width: 170px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}
#bleu_blanc:hover {
    transform:scale(1.025,1.025)
}  
/*activites*/
#activités {
    display: flex;
    flex-direction: column;
    gap: 40px;  
    align-items: baseline;
    border-radius: 30px;
    position: relative;
}
#activités_marseille {
    display: flex;
    width: 1700px;
    flex-wrap: wrap;
    gap: 30px; 
    columns: 3;
}
#A {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    height: 650px;
    width: 800px;
}
#B {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    width: 800px;
    height: 650px;
}
#vieux_port {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#vieux_port img {
    width: 400px; 
    height: 580px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#vieux_port:hover {
    transform:scale(1.025,1.025)
} 
#pomègues {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;   
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#pomègues img {
    width: 375px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#pomègues:hover {
    transform:scale(1.025,1.025)
}
#frioul {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#frioul img {
    width: 375px;
    height: 180px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#frioul:hover {
    transform:scale(1.025,1.025)
}
#calanques {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);    
}
#calanques img {
    width: 400px; 
    height: 580px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#calanques:hover {
    transform:scale(1.025,1.025)
}
#garde {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#garde img {
    width: 375px;
    height: 300px;;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#garde:hover {
    transform:scale(1.025,1.025)
}
#longchamp {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color:#ffffff ;
    border-radius: 25px;
    object-fit: cover; 
    -webkit-box-shadow: 0 0 10px rgb(196, 196, 196);  
}
#longchamp img {
    width: 375px;
    height: 180px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px 25px 0px 0px;
}
#longchamp:hover {
    transform:scale(1.025,1.025)
}
/*footer*/
footer {
    background-color:#F2F2F2 ;
    display: block;
    columns: 3;
    margin: 50px 0;
    width: 100%;
    height: 100%;
    padding: 30px ;
    justify-content: space-between;
}
footer ul {
    list-style-type: none;
}
#propos ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    padding: 0px;
}